*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #11151C;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titlepage{
    display: flex;
    align-items: center;
    margin-right:15em;
    font-weight:bolder;
    font-size: 30px;
    color: rgb(201, 201, 201);
    text-shadow:1px 2px 5px rgb(5, 5, 5);
    letter-spacing: 5px;
}

ul{
    display: flex;
}

nav{
    justify-self: right;
    height: 3vh;
}

.logo{
    width: 50px;
    margin-left: 5px;
}

li {
    list-style: none;
    margin-right: 40px;
}

li a{
    color: white;
    text-decoration: none;
    font-size:15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li :hover{
    color: #03e9f4;
}

main{
    background-color: #090c11;
    height: 100vh;
    display: flex;
}

.firstsection{
    display: flex;
    align-items: center;
}

.intro{
    width:60vw;
    text-align: center;
    justify-content: center;
}
.titleintro{
    font-weight:bolder;
    font-size: 100px;
    color: rgb(201, 201, 201);
    text-shadow:1px 2px 5px rgb(5, 5, 5);
    margin-bottom: 15px;
    margin-left: 10px;
}

.homeintro{
    width: 40vw;
}

.textintro{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.btnintro{
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    font-weight: 700;
    font-size: 15px;
    background-color: #23233b;
    padding: 17px 60px;
    margin: 1.5em auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btnintro a{
    position: relative; 
    z-index: 1;
    text-decoration: none;
    color: #fff;
}

.btnintro:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #03e9f4;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
.btnintro:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
    color: #23233b;
}

.glr{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #090c11;
    background-size: 100%;
}

.glrtitle{
    color: rgb(201, 201, 201);
    font-weight:bolder;
    font-size: 60px;
    text-shadow:1px 2px 5px rgb(5, 5, 5) ;
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.grid{
    clear: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(20px, auto);
    z-index: 999999;
}

.imggrid:hover{
    transform: scale(1.02);   
    transition: 1ms;
    cursor: pointer;
}


.imggrid{
    transition: transform .2s;
    width: 240px;
    height: 150px;
    padding: 0rem 0rem 0rem;
    background-color: antiquewhite;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}


.maincnt{
    display: flex;
    background-image: url(../img/backgroundcnt.jpg);
    background-size: 100%;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0;
    width: 30vw;
    height: 80vh;
    background-color: rgba(0,0,0,.5);
    padding: 30px 50px 0;
    border-radius: 0.5rem;
    align-items: center;
    box-shadow: 1px 2px 5px rgb(54, 54, 68);
}

input{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 44px;
    border: none;
    border-bottom: 1.5px solid #fff;
    outline: none;
    background: transparent;
    color: white;
}

input[type=textarea]{
    height: 80px;
}

input[type="submit"] {
    color: #03e9f4;
    border: 1.5px solid #03e9f4;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    width: 6em;

}

.cnttitle{
    font-weight: bolder;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow:1px 2px 5px rgb(5, 5, 5);
    margin-bottom: 10px;
    color: white;
}

input[type="submit"]:hover{
    background-color: #03e9f4;
    color: #23233b;
    border-radius: 0.2em;
    transition: 0.3s;
}

.logocnt{
    max-block-size: 150px;
}

.tablemain{
    background-image: url(../img/glrimge.jpg);
    flex-direction: column;
    height: auto;
    align-items: center;
}

.titletable{
    color: rgb(201, 201, 201);
    font-weight:bolder;
    font-size: 60px;
    text-shadow:1px 2px 5px rgb(5, 5, 5) ;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

table{
    margin: 20px 0 40px 0;
    width: 95%;
    height: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
}

th,td, table{
    border-collapse: collapse;
}

tr{
    height: 1em;
}

th{
    font-size: bolder;
    text-align: left;
    background-color: #212D40;
    color: white;
    text-align: center;
}

tr:nth-child(even){
    background-color: #F2F4F8;
}

tr:hover {
    background-color: #E4E9F1;
    cursor: pointer;
}

.tableimg{
    width: 120px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    box-shadow: 1px 1px 5px black;
}

thead{
    height: 50px;
    padding: 0;
}

.btnglryedit {
    background-color: #00b4d8; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    width: 2.5em;
    height: 2.5em;
    padding: 0.35em; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 50%;
    margin-left: 0.3em;
    margin-right: 0.3em;
    ;
  }

.btnglryedit:hover {
    background-color: #0096c7;
}

.btnglryplus {
    background-color: #73a942; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    width: 2.5em;
    height: 2.5em;
    padding: 0.35em; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 50%;
  }

.btnglryplus:hover {
    background-color: #538d22;
}

.btnglrytrash {
    background-color: #f27059; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    width: 2.5em;
    height: 2.5em;
    padding: 0.35em; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 50%;
  }

.btnglrytrash:hover {
    background-color: #f25c54;
}

.container-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.area{
    display: flex;
    background-color: #00b4d8;
    border-radius: 0.5em;
    box-shadow: 1px 1px 5px black;
    height: 20vh;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.child1{
    width: 15vh;
}

.child2{
    width: 30vh;
}

.child3{
    width: 10vw;
}

.child4{
    width: 5vw;
}

.child5{
    width: 25vw;

}





